@page "/{year}/{month}"
@model Pickle.Pages.MonthModel
@{
	ViewData["Title"] = new DateTime(Model.Year, Model.Month, 1).ToString("Y");
}

<div class="d-flex justify-content-between h4 m-0">
	@{
		var lastMonth = new DateTime(Model.Year, Model.Month, 1).AddMonths(-1);
		var nextMonth = new DateTime(Model.Year, Model.Month, 1).AddMonths(1);
		<a class="d-flex flex-row align-items-center gap-2 text-decoration-none highlight" href="/@lastMonth.Year/@lastMonth.Month">
			<i class="fa-solid fa-angle-left mt-1"></i>
			@lastMonth.ToString("MMMM")
		</a>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-1">
				<li class="breadcrumb-item">
					<a href="/@Model.Year/" class="text-decoration-none highlight">
						@Model.Year
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					@(new DateTime(Model.Year, Model.Month, 1).ToString("MMMM"))
				</li>
			</ol>
		</nav>
		<a class="d-flex flex-row align-items-center gap-2 text-decoration-none highlight" href="/@nextMonth.Year/@nextMonth.Month">
			@nextMonth.ToString("MMMM")
			<i class="fa-solid fa-angle-right mt-1"></i>
		</a>
	}
</div>

<div class="row my-4 px-1">
	@{
		for (int i = 1; i <= 7; i++)
		{
			<div class="col-week p-2">
				<div class="card border-0">
					<div class="card-body text-center p-0">
						@(new DateTime(1, 1, i).ToString("dddd"))
					</div>
				</div>
			</div>
		}
		var boxes = 0;
		var startOfMonth = new DateTime(Model.Year, Model.Month, 1);
		for (int i = 1; i <= (int)startOfMonth.DayOfWeek - 1; i++)
		{
			boxes++;
			<div class="col-week p-2">
				<div class="card">
					<div class="card-body">
						&nbsp;
					</div>
				</div>
			</div>
		}
		for (int i = 1; i <= DateTime.DaysInMonth(Model.Year, Model.Month); i++)
		{
			boxes++;
			var now = DateTime.Now.Date;
			var day = new DateTime(Model.Year, Model.Month, i);
			<div class="col-week p-2">
				<a class="text-decoration-none highlight" href="/@Model.Year/@Model.Month/@i">
					<div class="card">
						<div class="card-body h5 mb-0 @(day > now ? "text-muted" : "")">
							@(day.ToString("dd"))
						</div>
					</div>
				</a>
			</div>
		}
		for (int i = 1; i <= (7 - (boxes % 7)) % 7; i++)
		{
			<div class="col-week p-2">
				<div class="card">
					<div class="card-body">
						&nbsp;
					</div>
				</div>
			</div>
		}
	}
</div>
